@import url("http://fonts.cdnfonts.com/css/aquire");

* {
  box-sizing: border-box;
}
html {
  font-size: 14px;
  font-family: "Titillium Web", sans-serif;
  /* background-color: rgb(0, 0, 0); */
  background: #0e1538;
  /* background: linear-gradient(30deg, #00ccff, #0e1538, #d400d4); */
  /* background: linear-gradient(315deg, #52057b, #0e1538); */
  /* background: linear-gradient(180deg, #52057b, #0e1538); */
  color: #fff;
}
a {
  color: #ff0042;
  text-decoration: none;
  font-weight: bolder;
}
h1 {
  font-size: 16px;
  font-weight: bolder;
}
/* home.html */

.subforum {
  margin-top: 20px;
}
.subforum-title {
  display: flex;
  /* background: linear-gradient(315deg, #00ccff, #0e1538, #d400d4); */
  /* background: linear-gradient(315deg, #52057b, #0e1538); */
  background-color: #292b2e;
  background: linear-gradient(315deg, #0e1538, #0e1538);
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  /* background-color: red; */
  /* margin: 4px; */
}

.subforum-column {
  padding: 10px;
  margin: 4px;
  border-radius: 5px;
  background-color: #111314;
  background: linear-gradient(180deg, #52057b, #0e1538);
}

/* .subforum-column {
  position: relative;
  width: 300px;
  height: 400px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* .subforum-column::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  transform: skewX(2deg) skewY(4deg);
  background: linear-gradient(315deg, #00ccff, #0e1538, #d400d4);
} */
/* .subforum-column::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  transform: skewX(2deg) skewY(4deg);
  background: linear-gradient(315deg, #00ccff, #0e1538, #d400d4);
  filter: blur(50px);
} */
.subforum-description * {
  margin-block: 0;
}

.subforum-divider {
  display: block;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(190, 190, 190, 0),
    rgba(250, 250, 250, 0.75),
    rgba(190, 190, 190, 0)
  );
}
.subforum-stats {
  font-size: 12px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subforum-icon i {
  font-size: 45px;
}
/* for the smartphone */
@media screen and (max-width: 460px) {
  .container {
    margin: 10px;
    padding: 10px;
  }
  .subforum-row {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 65% 35%;
  }
}

/* for the tablets */
@media screen and (min-width: 460px) and (max-width: 1024px) {
  .container {
    margin: 15px;
    padding: 15px;
  }
  .subforum-row {
    display: grid;
    grid-template-columns: 10% 60% 10% 20%;
  }
  .subforum-icon i {
    font-size: 35px;
  }
  html {
    font-size: 16px;
  }
}

/* navbar */
header {
  margin-inline: 10px;
}
.navbar {
  display: flex;
  align-items: center;
}
.navigation {
  background-color: #52057b;
  padding: 10px;
  width: 65%;
  display: inline-block;
  border-radius: 5px;
  max-height: 80px;
  margin-right: 10px;
}
.nav-list {
  list-style-type: none;
  overflow: hidden;
}

.nav-item a {
  float: right;
  display: block;
  text-align: center;
  margin-inline: 20px;
  font-size: 20px;
  padding: 10px;
  color: #fff;
}
.nav-item a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.close-icon i {
  font-size: 60px;
  float: left;
  cursor: pointer;
}

.hide {
  display: none;
}
.bar-icon {
  font-size: 60px;
  display: inline-block;
  margin-right: 10px;
  color: #fff;
  cursor: pointer;
}
@font-face {
  font-family: aquire;
  font-family: "Aquire", sans-serif;
  /* src: url(aquire.otf); */
}
.brand {
  font-size: 60px;
  display: inline-block;
  text-align: center;
  /* background-color: #ff0042; */
  width: 100%;
  font-family: aquire;
}
/* navbar for smart phones */
@media screen and (max-width: 460px) {
  .navigation {
    max-height: auto;
  }

  .nav-item a {
    float: left;
    display: inline;
    text-align: center;
    margin-inline: 3px;
    font-size: 10px;
    padding: 5px;
  }

  .close-icon i {
    font-size: 30px;
  }

  .brand {
    font-size: 20px;
  }
}
/* search box */
.search-box {
  border: solid 1px #52057b;
  margin-top: 20px;
  padding: 40px;
  display: flex;
  justify-content: center;
  box-shadow: 1px 2px 3px #52075b;
}
.search-box select {
  padding: 10px;
}
.search-box input {
  padding: 10px;
}
.search-box button {
  padding: 10px;
  background-color: #fff;
  color: #000;
}
.search-box .search-icon:hover {
  background-color: #000;
  color: #fff;
  box-shadow: 1px 2px 3px #fff;
}

/* search-box for smartphones */
@media screen and (max-width: 460px) {
  .search-box select,
  .search-box input,
  .search-box button {
    min-width: 300px;
    margin-top: 5px;
  }
}
/* forum info */
.forum-info {
  padding: 20px;
  background-color: #111314;
}
.chart {
  font-size: 20px;
  font-weight: bold;
}
/* footer */
footer {
  margin-top: 20px;
  padding: 20px;
  background-color: #52057b;
  display: block;
  text-align: center;
}

/* ###############################
####################
POST.HTML */

.table-head {
  display: flex;
}
.table-head div {
  padding: 5px;
  margin: 2px;
  background-color: #2c2c2c;
  font-weight: bold;
}

.table-head .status {
  flex: 5%;
}
.table-head .subjects {
  flex: 70%;
}
.table-head .replies {
  flex: 10%;
}
.table-head .last-reply {
  flex: 15%;
}

/* table body */

.table-row {
  display: flex;
}
.table-row .status,
.table-row .subjects,
.table-row .replies,
.table-row .last-reply {
  padding: 5px;
  margin: 2px;
  background-color: #131415;
}
.table-row .status {
  flex: 5%;
  font-size: 30px;
  text-align: center;
}
.table-row .subjects {
  flex: 70%;
}
.table-row .replies {
  flex: 10%;
}
.table-row .last-reply {
  flex: 15%;
}

/* pagination */
.pagination {
  padding: 20px;
  font-size: 15px;
}
.pagination a {
  color: #fff;
  margin-inline: 5px;
  padding: 5px 10px;
  border: solid 1px #fff;
}
.pagination a:hover {
  opacity: 0.5;
}

/* navigation */
.navigate {
  margin-block: 20px;
  font-weight: lighter;
  font-size: 24px;
}
.navigate a {
  color: #fff;
}
.navigate a:hover {
  color: #ff0042;
  font-weight: bolder;
}

/* note */
.note {
  background-color: #111314;
  padding: 20px;
  display: block;
}
.note span {
  font-size: 20px;
  margin-block: 5px;
}

/* 
##################
################
detail.html */
.head {
  display: flex;
  background-color: #2c2c2c;
  padding: 5px;
  font-weight: bold;
  font-size: 15px;
}

.authors {
  flex: 20%;
}
.content {
  flex: 80%;
}
.body {
  display: flex;
  background-color: #131415;
  padding: 10px;
  margin-top: 5px;
}
.body .authors .userame {
  font-size: 20px;
}
.body .authors img {
  max-width: 50px;
  max-height: 80px;
}
.body .content .comment button {
  border: none;
  padding: 10px;
  font-weight: bolder;
  box-shadow: 4px 6px #fff;
  cursor: pointer;
  float: right;
}

/* comment area */
.comment-area {
  margin-top: 50px;
}
.comment-area textarea {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  margin-block: 10px;
}

.comment-area input {
  float: right;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.comment-area input:hover {
  border: 1px solid #0000;
}
.comments-container {
  margin-top: 50px;
}

.container {
  /* display: flex;
  justify-content: center; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* max-height: 650px; */
  /* width: 100%; */
  /* height: auto; */
  /* background: #dde1e7; */
  /* background-color: red; */
  /* color: #fff; */
  /* border-radius: 20%; */
  /* box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288); */
  /* position: relative; */
}
.container:after {
  /* content: ""; */
  /* position: absolute; */
  /* height: 90%;
  width: 90%;
  background: transparent;
  border-radius: 50%;
  box-shadow: inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px rgba(94, 104, 121, 0.288); */
}
.container {
  margin: 20px;
  padding: 20px;
  /* background: #8a50f8; */
  /* background: linear-gradient(315deg, #0e1538, #0e1538); */
  /* background: linear-gradient(315deg, #52057b, #0e1538); */
  /* border-radius: 20%; */
}
.posts-table {
  /* background: linear-gradient(180deg, #52057b, #0e1538); */
}
.table-header {
  background: linear-gradient(180deg, #52057b, #0e1538);
}
.row {
  background: linear-gradient(180deg, #52057b, #0e1538);
}

.drop-down-menu {
  /* display: none; */
}
.first-dropdown-menu {
  padding: 1rem 1rem;
  border: 0;
  /* background: transparent; */
  /* background-color: transparent; */
  /* color: #fff; */
  margin-right: 0.5rem;
  border-radius: 5%;
  /* background-color: blue; */
}
/* .first-dropdown-menu:hover {
  .drop-down-menu {
    display: block;
  }
} */

.add-announcements {
  margin-top: 1rem;
  padding: 1rem 1rem;
  border-color: rgb(207, 49, 62);
  /* border-radius: 15%; */
  border-radius: 2rem;
  background-color: blue;
  background-color: #292b2e;
  background-color: #0e1538;
  color: #fff;
  width: 10rem;
}

.add-announcements:hover {
  background-color: #292b2e;
}
.input-announcements {
  padding: 1rem 1rem;
  width: 100%;
}
.form {
  /* background-color: red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* justify-content: center; */
  align-items: center;
  padding: 1rem 1rem;
}
.subforum-row {
  display: grid;
  grid-template-columns: 7% 50% 13% 30%;
}
.edit-btn {
  padding: 0.4rem 0.7rem;
  margin-top: 1rem;
  border-color: #52057b;
  /* background-color: #0e3822; */
  background-color: #0e1538;
  color: #fff;
  border-radius: 1rem;
}
.edit-delete-components {
  display: flex;
  /* background-color: #ff0042; */
  align-items: center;
  justify-content: center;
}
.delete-btn {
  padding: 0.4rem 0.7rem;
  margin-top: 1rem;
  border-color: #3e0a18;
  background-color: #57131e;
  color: #fff;
  border-radius: 1rem;
}
