.actual-post{
    background-color: red;
    width: 35rem;
    border-radius: 2rem;

}

.actual-post {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* color: #000; */
    /* height: 350px; */
    width: 40rem;
    background: #dde1e7;
    background: #52057b;
    background: #0e1538;
    border-radius: 20%;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
    position: relative;
  }
  .real-input-space{
    border-radius: 0.5rem;
    padding: 0.7rem;
  }
 .Post-btn{
    background-color: rgb(66, 66, 228);
    border-color: rgb(66, 66, 228);
    border-radius: 0.5rem;
 }